<!-- Panel (Banner) -->
  <section class="panel banner right" id="splash">
    <div class="content color4 span-5">
       
       
        <h1 class="major">{{ site.title }}</h1>
      <h2>{{ site.subtitle }}</h2>
        
        <p><b>Society for Classical Studies 2018 Annual Meeting</b><br/>
            Boston Marriott: Copley Place. Boston, Ma.<br/>
            <br/>
            <b style="font-size: 125%;">Saturday January 6, 2018 8:30am - 4:00pm</b><br/><br/>
        An all-day Digital Classics workshop featuring presentations, demonstrations, lightning talks and a concluding panel.<br/>

        <p class="callout">WORKSHOP OPEN TO ALL AIA/SCS 2018 ATTENDEES • NO ADVANCED SIGN-UP REQUIRED</p>
        
        <p><a href="#third"><b style="font-size: 125%;">View the AMS 2018 schedule here.</b></a></p>
        
        <p>Info about last year's Ancient MakerSpaces at AIA/SCS 2017 can be found <a href="http://diyclassics.github.io/ams" target="_blank">here</a>.</p>

      <ul class="actions">
        <li><a href="#first" class="button special color1 circle icon fa-angle-right">Next</a></li>
      </ul>
    </div>

  </section>


