<!-- Panel -->
  <section class="panel color4" id="eleventh">
    <div class="intro joined">
      <h2 class="major">Other SCS Digital Classics Programming</h2>

    </div>
    <div class="inner span-4">
        <p>Ancient MakerSpaces is possible because of the growing community of digital classicists within the SCS and the AIA. Accordingly, AMS attendees may also be interested in the following conference events and panels:</p>
        <h4><a href="http://sites.tufts.edu/oglworkshop/" target="_blank">Deconstructing the Open Greek & Latin Project</a></h4>
        <p class="info">Wed. 1/3. All day. Tufts University. Medford, Ma.</p>
        <p class="related">This is a free, open workshop to be held prior to the start of the 2018 AIA-SCS Joint Annual Meeting. Discover the methods, tools, and standards that built the First Thousand Years of Greek project.  Attendees will learn about the project and opportunities for participation;  receive hands-on editing experience; and hear advice on engaging undergraduate students in digital humanities work and building digital scholarship partnerships across professional and institutional boundaries.</p>
        <h4>Digital Textual Editions & Corpora</h4>
        <p class="info">Sun. 1/7. 8:30-10:00am.</p>
        <p class="related">This year's Digital Classics Association panel brings together scholars to look at innovative work on digital and computational approaches to critical editions and textual corpora. Papers includes: Samuel Huskey (University of Oklahoma), "The Digital Latin Library and the Library of Digital Latin Texts"; Gregory Crane (Tufts University), "Open Greek and Latin: corpora, editions, and libraries"; Peter Heslin (University of Durham), "Learning from Git: Critical Editions as Version Control"; Thomas Köntges (University of Leipzig), "Detecting the Influence of the Corpus Platonicum on Ancient Greek Literature using LDA-Topic Modeling"; and Cynthia Damon (University of Pennsylvania), "The Editor(s) in the Classroom". Neil Coffee (University of Buffalo, SUNY) will introduce the panel and Franz Fischer (Institut für Dokumentologie und Editorik) will give the response.</p>
        
        <ul class="actions">
            <li><a href="#tenth" class="button special color1 circle icon fa-angle-left">Previous</a></li>
            <li><a href="#twelfth" class="button special color1 circle icon fa-angle-double-up">Schedule</a></li>
            <li><a href="#eleventh" class="button special color1 circle icon fa-angle-right">Next</a></li>
        </ul>  
    </div>
</section>
