<!-- Panel -->
  <section class="panel color1" id="third">
    <div class="intro joined">
        <h2 class="major">AMS 2018 Schedule</h2>
    </div>
    <div class="inner span-4">
        <ul id="schedule">
            <li>8:30-9:00am Welcome</li>
            <li>9:00-9:40am <a href="#fourth"><b>Working with Geospatial Networks of the Roman World using ORBIS</b></a><br/>
                Scott Arcenas (Stanford University)</li>
            <li>9:50-10:30am <a href="#fifth"><b>Semantic Inferencing for the Archaeologist</b></a><br/>
                Sebastian Heath (New York University)</li>
            <li>10:40-11:20am <a href="#sixth"><b>How to Use the PeriodO Gazetteer of Period Definitions</b></a><br/>
                Adam Rabinowitz (University of Texas at Austin)</li>
            <li>11:30am-12:30pm <a href="#">Lightning Presentations</a></li>
            <li><br/>12:30-1:30pm Lunch Break</li>
            <li><br/>1:30-2:10pm <a href="#seventh"><b>How to Create a Citable, Machine-Actionable Data Model with the Homer Multitext</b></a><br/>
                Casey Dué (Center for Hellenic Studies)</li>
            <li>2:20-3:00pm <a href="#eighth"><b>How to do Philology with Computers</b></a><br/>
                T.J. Bolt, Ariana Casarez, Jeffrey Hill Flynt (University of Texas at Austin)</li>
            <li>3:00-4:00pm <a href="#ninth">Panel Discussion</a><br/>
                Hannah Čulík-Baird, Moderator
            </li>
        </ul>

      
        <ul class="actions">
            <li><a href="#second" class="button special color1 circle icon fa-angle-left">Previous</a></li>
            <li><a href="#splash" class="button special color1 circle icon fa-home">Home</a></li>          
            <li><a href="#fourth" class="button special color1 circle icon fa-angle-right">Next</a></li>
        </ul>  
    </div>
</section>
