<!-- Panel -->
  <section class="panel color3" id="tenth">
    <div class="intro joined">
      <h2 class="major">Lightning Presentations</h2>
        <p>Patrick J. Burns, Moderator<br/>
            <i>ISAW/NYU</i><br/>
            11:30am-12:30pm</p>
    </div>
    <div class="inner span-4">
        <p>In the interest of bringing attention to as many projects in Digital Classics, Archaeology, and related fields as possible, Ancient MakerSpaces 2018 will host an hour-long <i>Lightning Presentations</i> session. Presenters will have three minutes each to introduce their project, address its application in Classics research, pedagogy, or outreach, and explain how contributors, volunteers, or users can get involved. If you are interested in participating in the <i>Lightning Presentations</i>, contact Patrick J. Burns at patrick.j.burns@nyu.edu.<br/><br/>
        
        AMS <i>Lightning Presentations</i> will include <a href="http://alpheios.net" target="_blank">Alpheios</a>, <a href="http://iris.haverford.edu/bridge/" target="_blank">The Bridge</a>, <a href="http://logeion.uchicago.edu/about.html" target="_blank">Logeion</a>, <a href="http://wireproject.org" target="_blank">WIRE Project</a>, and more.
        <br/><br/>
            
        The schedule for the <i>Lightning Presentations</i> will be available soon.</p>
        <ul class="actions">
            <li><a href="#ninth" class="button special color1 circle icon fa-angle-left">Previous</a></li>
            <li><a href="#third" class="button special color1 circle icon fa-angle-double-up">Schedule</a></li>
            <li><a href="#eleventh" class="button special color1 circle icon fa-angle-right">Next</a></li>
        </ul>  
    </div>
</section>
