<!-- Panel -->
  <section class="panel color1" id="eighth">
    <div class="intro joined">
      <h2 class="major">How to Do Philology with Computers</h2>
        <p>T.J. Bolt, Adriana Casarez, Jeffrey Hill Flynt <br/>
            U. Texas-Austin<br/>
            2:20-3:00pm</p>
    </div>
    <div class="inner span-4">
        <p>Computational stylometry has aided the work of philologists for over 50 years. From simple word counts to the latest use of machine learning for authorship attribution, computation offers the literary critic a wide array of techniques to better understand individual texts and large corpora. To date, these methods have largely been accessible to specialists possessing a background in programming and statistics. The Quantitative Criticism Lab has now designed a user-friendly toolkit that will allow humanists with no prior training in the digital humanities to obtain a wide range of philological data about most classical texts and to perform sophisticated quantitative analyses—all using a simple point-and-click interface. This presentation will demonstrate some of the experiments and literary critical insights enabled by the toolkit, and discuss relevant issues of interpretation and statistical analysis.</p>
        <ul class="actions">
            <li><a href="#seventh" class="button special color1 circle icon fa-angle-left">Previous</a></li>
            <li><a href="#third" class="button special color1 circle icon fa-angle-double-up">Schedule</a></li>
            <li><a href="#ninth" class="button special color1 circle icon fa-angle-right">Next</a></li>
        </ul>  
    </div>
</section>
