<!-- Panel -->
  <section class="panel color2" id="panel">
    <div class="intro joined">
      <h2 class="major">AMS 2018 Panel Discussion</h2>
        <p>Hannah Čulík-Baird, Moderator<br/>
            <i>Boston University</i><br/>
        <p><b>Panelists:</b><br/>
        Sarah Bond<br/>
        <i><a href="https://clas.uiowa.edu/classics/people/sarah-e-bond" target="_blank">University of Iowa</a></i><br/>
        Casey Dué<br/>
        <i><a href="https://chs.harvard.edu/CHS/article/display/2395" target="_blank">Center for Hellenic Studies</a></i><br/>
        Cora Sowa<br/>
        <i><a href="http://www.minervaclassics.com/" target="_blank">Minerva Classics</a></i><br/>
        Donna Zuckerberg<br/>
        <i><a href="https://eidolon.pub/@donnazuckerberg" target="_blank">Eidolon</a></i><br/><br/>            
            3:00-4:00pm<br/>
        </p>
    </div>
    <div class="inner span-4">
        <p>As mentioned in the introduction, all aspects of ancient world study at this point bear "the imprint of digital technology." While this has brought about access to the kinds of cutting-edge research tools and resources that are showcased at Ancient MakerSpaces, it has not been without challenges. We have gathered together a diverse panel of digital practioners in Ancient World study, whose interests cover computational approaches to Classical philology, digital editions and manuscripts, mapping, and the use of social media for redefining outreach and scholarly publication, among many others. Our panel will discuss these issues as well as the general state (and future) of digital work in Classics.</p>
        <ul class="actions">
            <li><a href="#eighth" class="button special color1 circle icon fa-angle-left">Previous</a></li>
            <li><a href="#third" class="button special color1 circle icon fa-angle-double-up">Schedule</a></li>
            <li><a href="#tenth" class="button special color1 circle icon fa-angle-right">Next</a></li>
        </ul>  
    </div>
</section>
