<!-- Panel -->
  <section class="panel color3" id="sixth">
    <div class="intro joined">
      <h2 class="major">How to use the PeriodO gazetteer of period definitions</h2>
        <p>Adam Rabinowitz<br/>
        U. Texas-Austin<br/>
        10:40-11:20am </p>
    </div>
    <div class="inner span-4">
<p>This presentation introduces the concept of "semantic inferencing" as it applies to archaeological databases. Inferencing in general means deriving new facts from one set of facts. All finds within a stratigraphic unit can also be said to be from the tomb to which the unit belongs. All finds from Italy or North Africa also belong to the group of finds from the Central Mediterranean. This form of reasoning can be efficiently expressed and utilized to answer queries that combine findspot, geographic origin, and other common archaeological criteria. A selection of open-source tools and existing standards that implement this approach to archaeological data will be discussed and example data will be shared.</p>
        
        <ul class="actions">
            <li><a href="#fifth" class="button special color1 circle icon fa-angle-left">Previous</a></li>
                        <li><a href="#third" class="button special color1 circle icon fa-angle-up">Schedule</a></li>
            <li><a href="#seventh" class="button special color1 circle icon fa-angle-right">Next</a></li>
        </ul>  
    </div>
</section>