<!-- Panel (Spotlight) -->
  <section class="panel spotlight medium right" id="first">
    <div class="content span-7">
      <p>Almost all research, teaching, and scholarly communication in ancient studies today bears the imprint of digital technology in some way, yet the growing number of projects and the rapid rate of technological development present a distinct challenge for scholars who are interested in taking advantage of advances in the digital humanities.</p>
        
    <p style="font-weight: bold">This workshop is a space for students and scholars to interact with a variety of digital techniques and digital projects of broad application, providing participants the opportunity to engage in hands-on, peer-based learning.</p> 

    <ul class="actions">
        <li><a href="#splash" class="button special color1 circle icon fa-angle-left">Previous</a></li>
        <li><a href="#second" class="button special color1 circle icon fa-angle-right">Next</a></li>
    </ul>       

    </div>
    <div class="image filtered tinted" data-position="top left">
      <img src="assets/images/pic02.jpg" alt="" />
    </div>
  </section>

