<!-- Panel (Spotlight-2) -->
  <section class="panel spotlight medium right" id="third">
    <div class="content span-7">
    <p>We will also present two showcases that exploit new computational and digital methods for research and pedagogy in traditional areas of interest, e.g., ancient history and the reception of classical drama. Finally, there will be a panel discussion at the end of the workshop dedicated to discussing issues related to the use of new digital technologies in research, teaching, and scholarly communication.</p>
        
            <ul class="actions">
        <li><a href="#second" class="button special color1 circle icon fa-angle-left">Previous</a></li>
        <li><a href="#fourth" class="button special color1 circle icon fa-angle-right">Next</a></li>
    </ul>    

    </div>
    <div class="image filtered tinted" data-position="top left">
      <img src="assets/images/pic02.jpg" alt="" />
    </div>
  </section>

