<!-- Panel (Spotlight-2) -->
  <section class="panel spotlight medium right" id="second">
    <div class="content span-7">
        <p>Experienced digital humanists from various disciplines within ancient studies have developed demonstration curricula and will coordinate teams of trained demonstrators for each workshop station.The emphasis will be on learning to do things of immediate utility to scholarship and pedagogy.</p>
        
        <p>Finally, there will be a panel discussion at the end of the workshop dedicated to discussing issues related to the use of new digital technologies in research, teaching, and scholarly communication.</p>
        
            <ul class="actions">
        <li><a href="#first" class="button special color1 circle icon fa-angle-left">Previous</a></li>
        <li><a href="#third" class="button special color1 circle icon fa-angle-right">Next</a></li>
    </ul>    

    </div>
    <div class="image filtered" data-position="top left">
      <img src="assets/images/pic02.jpg" alt="" />
    </div>
  </section>

